name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello People!"
      - name: Say Goodbye
        run: echo "Goodbye Everybody!"
